@import 'colours.scss';

.project {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
    padding: 1rem 0;

    &:not(:first-of-type) {
        border-top: 1px solid #ccc;
    }

    .imageScroller {
        margin: 0 -1rem;
        background: none;
        height: 22rem;
        overflow: hidden;
        &:focus {
            outline: none;
        }

        :global(.nav-button) {
            height: 5rem;
            width: 2.5rem;
            top: calc(50% - 2.5rem);
            background: rgba($brand-colour, 0.75);

            box-shadow: inset 0 0 3px 0 hsla(0, 0%, 0%, 50%);
            &--previous {
                border-radius: 0 2.5rem 2.5rem 0;
                left: -0.5rem;
            }
            &--next {
                border-radius: 2.5rem 0 0 2.5rem;
                right: -0.5rem;
            }
            &:active {
                box-shadow: none;
            }

            &[disabled] {
                display: none;
            }
        }
        :global(.scroll-container) {
            mask-image: linear-gradient(
                to right,
                transparent,
                black 1rem,
                black calc(100% - 1rem),
                transparent
            );
        }
        :global(.image-wrapper) {
            margin-right: 1em;
            &:first-child {
                border-left: 1em solid transparent;
            }
            &:last-child {
                border-right: 1em solid transparent;
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                box-shadow: inset 0 0 3px 0 hsla(0, 0%, 0%, 50%);
            }
            &:hover {
                &::after {
                    // box-shadow: inset 0 0 6px 0 hsla(0, 0%, 0%, 50%);
                    display: none;
                }
            }
        }
        :global(.index-buttons-container) {
            left: 0;
            transform: none;
            justify-content: flex-start;
        }
    }
}

@media (max-width: 54em) {
    .project {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}
