.resumeSection {
    display: flex;
    margin: 1rem 0;
}

.title {
    flex: 1;
    min-width: 0rem;
    max-width: 20rem;
    text-align: right;
    padding-top: 0.5rem;
}

.body {
    flex: 4;
    min-width: 0;
    margin: 0 1rem;

    & > * {
        border-left: 1px solid black;
        padding-left: 0.75rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 45em) {
    .resumeSection {
        display: block;
        margin-bottom: 2rem;
    }
    .title {
        max-width: none;
        text-align: left;
        padding: 0;
    }
}
