@import 'colours.scss';

.top {
    display: grid;
    grid-template-columns: minmax(15rem, 1fr) 2fr;
    background: rgba($brand-colour, 0.19);
    grid-gap: 2rem;
    padding: 1.75rem 2rem;

    .portrait {
        img {
            display: block;
            object-fit: cover;
            object-position: center 70%;
            height: 100%;
            width: 100%;
            max-height: 24.5rem;
            max-width: 100%;
            border-radius: 0.4rem;
            background-color: #59815f;
            margin: 0 auto;
        }
    }
    .intro {
        .text {
            max-width: 37rem;
        }
    }

    ::selection {
        background-color: $brand-colour;
        color: white;
    }
}

.projects {
    padding: 1.75rem 2rem;
    background-color: white;
}

.bottom {
    grid-area: bottom;
    color: #8a8a8a;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    background: white;
}

@media (max-width: 54em) {
    .top {
        // grid-template-columns: minmax(15rem, 1fr) 2fr;

        .portrait img {
            max-height: 20rem;
            object-position: 30% 70%;
        }
    }
    .project {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 44em) {
    .top {
        padding: 1.25rem 1.5rem;
        grid-gap: 1.5rem;
        grid-template-columns: 1fr;
        .portrait {
            order: 2;
            img {
                max-width: 18rem;
                object-position: 10% 60%;
            }
        }
    }
    .projects {
        padding: 1.25rem 1.5rem;
    }
    .project {
        grid-gap: 1.5rem;
    }
}
