@import 'shared';

.intro {
    @extend %typography;

    padding: 0 1em;
    padding: 0 var(--content-padding);
}

.picture {
    float: right;
    margin: 0 0 1em 1em;
    display: block;
    max-width: 12em;
    @media (max-width: 32em) {
        max-width: 8em;
    }
}
