@import 'colours.scss';
@import 'sizes.scss';

@mixin element-underline($colour) {
    position: relative;
    &::after {
        content: '';
        font-size: 1rem;
        height: 0.22rem;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $colour;
    }
}

@mixin element-sideline($colour) {
    position: relative;
    &::after {
        content: '';
        font-size: 1rem;
        width: 0.3rem;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $colour;
    }
}

.header {
    z-index: 100;
    background-color: $brand-colour;
    color: white;
    line-height: 1.15;
    // box-shadow: inset 0 -7px 9px -7px rgba(0,0,0,0.7);

    // Sticky headers on short screens (such as in landscape mode or on small devices)
    // make the viewport overly cramped, so don't.
    @media (min-height: 23em) {
        position: sticky;
        top: 0;
    }

    h1 {
        font-weight: inherit;
        font-size: inherit;
        font-family: inherit;
        margin: 0;
    }

    a,
    a:visited {
        color: inherit;
        text-decoration: none;
    }
}

// Header Sections
.header nav {
    display: flex;
    align-items: stretch;
    max-width: $site-max-width;
    margin: 0 auto;

    .title {
        display: inline-block;
        a {
            font-weight: bold;
            font-size: 1.25em;
            display: inline-block;
        }
    }

    .primary {
        display: flex;
        align-items: stretch;
        overflow-x: auto;
        // overflow-y: visible;
        -webkit-overflow-scrolling: touch;
        flex: 1;
        min-width: 1px;

        & > * {
            display: flex;
            align-items: stretch;
            flex-shrink: 0;
        }
    }

    .secondary {
        display: flex;
        align-items: stretch;
        position: relative;

        .moreBtn {
            border: none;
            color: inherit;
            background: none;
            font-weight: bold;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
        .moreMenu {
            position: absolute;
            top: 100%;
            right: 0;
            background: $brand-colour;
            box-shadow: 0px 0px 10px 1px hsla(0, 0%, 0%, 0.2);
        }
    }
}

// Header Links
.header nav {
    a,
    .moreBtn {
        font-size: 1rem;
        color: inherit;
        white-space: nowrap;
        padding: 0.63rem 1.2rem 0.4rem;
        -webkit-tap-highlight-color: transparent;
        display: block;
        min-width: auto;
        text-decoration: none;

        // icons
        img,
        svg {
            height: 1em;
            width: 1em;
            vertical-align: top;
            // margin-left: 0.5em;
        }
        & > * + * {
            margin-left: 0.5em;
        }

        &:hover:not(.active) {
            background-color: hsla(0, 0, 0, 0.08);
            @include element-underline(hsla(0, 0, 0, 0.175));
        }

        // boost specificity
        &:focus:focus {
            outline: none;
            background-color: hsla(0, 0, 0, 0.08);
            @include element-underline($focus-colour);

            // Remove focus indicator for non-keyboard :focus.
            // Browsers that don't support :focus-visible will ignore this rule.
            &:not(:focus-visible) {
                @include element-underline(transparent);
            }
        }

        // boost specificity
        &.active.active {
            background-color: hsla(0, 0, 0, 0.175);
        }
    }

    .title a {
        // Manually line up the baselines, while still stretching the full height of the header
        padding: 0.4rem 0.8rem;
    }

    // Drop down menu links
    .moreMenu a {
        padding: 0.8rem;
        &:hover:not(.active) {
            background-color: hsla(0, 0, 0, 0.08);
            @include element-sideline(hsla(0, 0, 0, 0.175));
        }

        // boost specificity
        &:focus:focus {
            outline: none;
            background-color: hsla(0, 0, 0, 0.08);
            @include element-sideline($focus-colour);

            // Remove focus indicator for non-keyboard :focus.
            // Browsers that don't support :focus-visible will ignore this rule.
            &:not(:focus-visible) {
                @include element-sideline(transparent);
            }
        }

        // boost specificity
        &.active.active {
            background-color: hsla(0, 0, 0, 0.175);
        }
    }
}

// Mobile
.header nav {
    @media (max-width: 40em) {
        a,
        .moreBtn {
            padding-left: 0.6rem;
            padding-right: 0.6rem;
        }
    }
    @media (max-width: 48em) {
        a,
        .moreBtn {
            padding-top: 0.83rem;
            padding-bottom: 0.6rem;
        }
        .title a {
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
        }
    }
    @media (max-width: 24em) {
        // Break website title onto two lines
        .title {
            width: min-content;
            flex: 0 0 6.5rem;
            line-height: 1;
        }
        .title a {
            white-space: normal;
            padding: 0.3rem 0.6rem 0.3rem 0.6rem;
        }

        a,
        .moreBtn {
            padding: 0.4rem 0.8rem;
            display: flex;
            align-items: center;
        }
    }
    @media (max-width: 20.5em) {
        a,
        .moreBtn {
            padding: 0.4rem 0.6rem;
        }
    }
}

// Print
@media print {
    .header {
        border-bottom: 3px solid black;
        background: none;
        display: block;
        color: #444;
    }
    .header nav {
        img,
        svg {
            filter: invert(1);
        }
        a {
            padding: 0.23rem 1rem 0.1rem 0 !important;
        }
        .title a {
            font-weight: normal;
            background: none;
            padding-top: 0 !important;
        }
        a.active {
            font-weight: bold;
            color: black;
            background: none !important;
        }
    }
}
