.details {
    margin: 0 0 0.5em;
    color: #555;
    line-height: 1.2;

    > * {
        display: inline-block;
        &:not(:last-child)::after {
            content: '/';
            margin: 0 0.5em;
            color: #555;
        }
    }

    .date {
        font-size: 0.825em;
        color: #555;
        line-height: 1;
        letter-spacing: 0.08em;
    }
    time {
        text-transform: uppercase;
    }
}
