.project {
    background-color: white;
    border: 1px solid #ccd3db;

    margin: 1em 0;
    margin: var(--content-padding) 0;
    padding: 1em;
    padding: var(--content-padding);

    &:focus {
        outline: none;
    }
}

/*
   Use a separate wrapper around the content to contain absolutely-positioned children
   inside .project's padding box.
*/
.content {
    .gallery {
        display: flex;
        flex-direction: column;

        .scroller {
            flex: 1;
        }
    }

    /*
       The image gallery comes last in the source order, but we want to float it as if
       it came first. Solution: float a ::before pseudo element to create space, then
       absolutely position the image gallery in that space.
    */
    @media (min-width: 45em) {
        position: relative;
        &::before {
            content: '';
            float: right;
            margin: 0 0 0.5em 1em;
            // z-index: 100;
        }
        &::before,
        .gallery {
            width: 70%;
            height: 31em;
        }
        .gallery {
            position: absolute;
            right: 0;
            top: 0;
        }
        .text {
            z-index: 101;
            background: hsla(0, 0%, 100%, 0.5);
        }
    }

    @media (max-width: 45em) {
        .gallery {
            margin-top: 1em;
            margin-left: calc(-1 * var(--content-padding));
            margin-right: calc(-1 * var(--content-padding));
            height: 25em;
        }
        .navButtonsContainer {
            margin-right: var(--content-padding);
        }
    }
}

.gallery {
    .navButtonsContainer {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0.5em;

        > * + * {
            margin-left: 0.5em;
        }

        .countLabel {
            font-style: italic;
        }
        .navButton {
            background: hsl(210, 78%, 42%);
            border-radius: 0.1em;
            color: white;
            border: none;

            &:not([disabled]) {
                &:hover {
                    background: hsl(210, 78%, 47%);
                }
                &:active {
                    background: hsl(210, 78%, 38%);
                }
                &:focus {
                    outline: 4px solid hsl(39, 100%, 64%);
                }
            }
            &[disabled] {
                opacity: 0.5;
                transition: opacity ease-out 0.15s;
            }
        }
    }

    .scroller {
        display: flex;
        overflow-x: auto;
        &:focus {
            outline: none;
        }

        // scrollbar-width: none;
        // -ms-overflow-style: none;
        // &::-webkit-scrollbar {
        //     display: none;
        // }

        > * {
            margin-right: 1em;
        }

        .imageWrapper {
            background: gray;

            pointer-events: none;
            * {
                pointer-events: auto;
            }

            img {
                width: auto;
                height: 100%;
                display: block;
            }

            // Overlaid inset shadow
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                box-shadow: inset 0 0 5px hsla(0, 0%, 0%, 0.5);
            }
        }
    }
}
