@import 'colours.scss';
@import 'sizes.scss';

.footer {
    background-color: #dadfe4;
    border-top: 2px solid #c5c9cc;
    padding: 1.25rem 2rem;

    width: 100%;
    max-width: $site-max-width;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    p {
        margin: 0;
    }

    & > *:not(:last-child) {
        margin-right: 1em;
    }
    a:link, a:visited {
        color: hsl(229, 93%, 56%);
    }
}
