<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ if ne .Title .Site.Title }}{{ .Title }} - {{ end }}{{ .Site.Title -}}</title>
    {{- $style := resources.Get "main.scss" | resources.ToCSS | resources.Fingerprint "md5" }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" type="text/css" />
    <link rel="canonical" href="{{ .Permalink }}" />
    {{- with .OutputFormats.Get "rss" }}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}"
        title="{{ $.Site.Title | safeHTML }}" />
    {{ end -}}
</head>