@import 'shared';

.section {
    @extend %typography;

    background-color: white;
    border: 1px solid #ccd3db;
    margin: 0.75em 0;
    padding: 1rem;
    padding: var(--content-padding);

    //Child element has partial margin-bottom (because of the margin on the floated image).
    padding-bottom: 0.5em;
    padding-bottom: calc(var(--content-padding) - 0.5em);

    .title {
        line-height: 1.2;
        margin: 0;
    }

    .thumb {
        margin: 0.25em 0 0.5em 0.75em;
        float: right;
        width: 10em;
        height: 10em;
        object-fit: cover;
        max-width: 100%;
        border: 1px solid #ccc;

        @media (max-width: 20em) {
            float: none;
            margin-left: 0;
        }
    }

    .excerpt {
        flex: 1;
    }
}
