@import 'colours.scss';

.footer {
    background-color: #222;
    color: white;
    padding: 0.4rem 0.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 2;

    p {
        margin: 0;
    }

    & > *:not(:last-child) {
        margin-right: 1em;
    }

    a:link,
    a:visited {
        color: lighten($brand-colour, 5%);
    }
    a:focus {
        background: $focus-colour;
        outline: 1px solid $focus-colour;
    }
}
